.backgroundColor {
  background-color: #282c34;
}
.bodyBackground {
  background-color: white;
}
.accentBackground {
  background-color: #ffce3d;
}
.white {
  color:white;
}
.accent {
  color: #ffce3d;
}
hr {
  color: #ffce3d;
}
.pad {
  padding:5px;
}
.noMargin {
  padding:10px
}
.font {
  font-family: "Arial Narrow", "Avant Garde", "Futura", "Gill Sans";
}
.home {
  padding: 20px;
}
.contact {
  font-size: 20px;
  font-weight: bold;
}
.left-align {
  text-align: left !important; 
  float: left;
}
.right-align {
  text-align: right !important;
  float: right;
}
header {
  font-size: 20px;
  padding: 10px;
  /* vertical-align: text-bottom */
}
.vertical-align {
  padding: 5%;
}
.clip-circle {
  clip-path: circle(50% at center);
}
header a {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  font-family: "Arial Narrow", "Avant Garde", "Futura", "Gill Sans";
  font-weight: 600
}
.App {
  min-height: 100vh;
}

a:hover {
  color: #ffce3d;
}