$headerColor: #038ddd;
$dividerColor: white;//#3db1ff;
$backgroundColor: white;
$darkBackgroundColor: rgba(239, 243, 248, 0.2);
$accentColor: #ffce3d; 

.project_card{ 
  border-radius: 10px;
  box-shadow: 4px 4px lighten($headerColor, 40%);
  background:white;
  max-width: 1000px;
  margin:auto;
  margin-bottom:10px;
  display: flex;
  .carousel {
    width: 350px;
    .carousel-inner{
      width: 350px;
    }
  }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    cursor: pointer;
    opacity:1;
    filter: invert(45%);
  }
  .info {
    b{
      margin-bottom: 5px;
      font-size: 16px;
    }
    display: flex;
    flex-direction: column;
    padding:10px 20px;
    font-size: 14px;
    .icons{
      *{
        margin:4px;
        color:black;
        animation: hue 6s infinite alternate-reverse;

        transition: .2s ease-in-out;
        overflow: visible;
        &:hover{
          transform-origin: 50% 50%;
          transform:  scale(1.1, 1.1);              }
      }

      font-size:30px;
      display:flex;
      align-items: flex-end;
      align-content: flex-end;
      flex-grow: 1;
      float:right;
    }
  }
}

.hidden {
    max-height:0px;
    overflow: hidden;
    transition: .5s ease-in-out;
    &.open {
      max-height: 2000px;
      padding-bottom: 5px;
    }
  }
