

.bodyBackground {
    /* background-color: #E9ECEF; */
    /* background-color: #fbf7ff; */
}
/* .experience header {
    color: white;
    font-size: 30px;
} */
#image:hover {
    transition: .5s ease;
    opacity: .3;
}
#image{
    transition: .5s ease;
    opacity: 1;
}
.heading{
    text-align:center;
    font-size: 25px;
}
.languages{
    font-size: 35px;
    text-align: center;
}
.options{ 
    font-size: 12px;
    text-align: right;
}
p {
    font-size: 16px;
}
